<html>
<head>
  <title>My new landing page</title>
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.css">
</head>
<body>

  


<div class="container">

  <div class ="jumbotron">
  <div class="container">
  
  <img align:"left" src="http://www.kellogg.northwestern.edu/~/media/banner_left.ashx">
  <h1>Welcome of Kellogg Cafe Online Ordering</h1>
  </div>
</div>



<div class="container">

      <form class="registration">
        <h2 >Please Register Below</h2>
        
        <label class="firstname"> 
        First Name:
        <input type="text" class="input-block-level" >
      </label>

      <div></div>

      <label class="lastname"> 
        Last Name:
        <input type="text" class="input-block-level" >
      </label>

      <div></div>

      <label class="netid"> 
        NetId:
        <input type="text" class="input-block-level" placeholder="Example: crk439" >
      </label>

      <div></div>

       <label class="email"> 
        Email Address:
        <input type="text" class="input-block-level" placeholder="Email address" >
      </label>

      <div></div>
        <label class="password"> Password:
        <input type="password" class="input-block-level" placeholder="Password">
      </label>

      <div></div>
        <label class="mobile"> Mobile:
        <input type="password" class="input-block-level" placeholder="+1 847 123-4567">
      </label>
      <div></div>

      <h4 class="Notification"> Notification: (Standard text messaging rates apply for SMS ) </h5>
      <div></div>
      <label class="EmailChk"> 
      &nbsp;&nbsp;Email Address:
        <input type="checkbox" class="input-block-level">      
      </label>
      <div></div>
      <label class="MobileChk">
        Mobile:
        <input type="checkbox" class="input-block-level">      
      </label>
    </label>

<div></div>
        
       
        <button class="btn btn-large btn-primary" type="submit">Sign up</button>
         <button class="btn btn-large btn-primary" type="submit">Sign in</button>
        
      </form>

    </div>




</div>



  
  
</body>
</html>
