<html>
<head>
  <title>My new landing page</title>
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.css">
</head>
<body>

  




  <div class ="jumbotron">
  <div class="container">
  
  <img align:"left" src="http://www.kellogg.northwestern.edu/~/media/banner_left.ashx">
  <h1>Welcome of Kellogg Cafe Online Ordering</h1>
  </div>
</div>



<span class="label">Name:</span>





<div class="container">

      <form class="form-signin">
        <h2 class="form-signin-heading">Please sign in</h2>
        <input type="text" class="input-block-level" placeholder="Email address">
        <input type="password" class="input-block-level" placeholder="Password">
        <label class="checkbox">
          <input type="checkbox" value="remember-me"> Remember me
        </label>
        <button class="btn btn-large btn-primary" type="submit">Sign in</button>
        <button class="btn btn-large btn-primary" type="submit">Sign up</button><br>
        <a href="Sdfsd">Forgot password</a>
      </form>

    </div>
